<eui-page-header
    label="Finalization of assessment survey">
</eui-page-header>
<eui-page-content>
    <eui-card>
        <eui-card-header>
            <eui-card-header-title>
                Survey download
            </eui-card-header-title>
        </eui-card-header>
        <eui-card-content>
            <form [formGroup]="filename">
                <div euiInputGroup>
                    <label euiLabel>You have finalized the assessment survey. Please, provide a name for the assessment file and click download to save the file:</label>
                    <input 
                        euiInputText
                        id="filename"
                        formControlName="filename"
                        placeholder="JSON file name"
                    />
                </div>
            </form>
            <div>
                <button
                    euiButton
                    euiPrimary
                    [euiDisabled]="filename.status != 'VALID'"
                    (click)="downloadAssessmentJson()">
                    Download survey
                </button>
            </div>
        </eui-card-content>
    </eui-card>   
</eui-page-content>