<eui-page-header
    label="Assessment of requirements">
</eui-page-header>
<eui-page-content>
    <div *ngIf="loading">
        <p>The selected DBCs are being processed for the next step of the assessment:</p>
        <p>Currently processing: {{ processedDBCName }}</p>
        <eui-progress-bar [progress]="progress" *ngIf="loading"></eui-progress-bar>
        <div class="eui-u-flex eui-u-flex-justify-content-center">
            <eui-block-content role="presentation" ariaLabel="Nested block" [isBlocked]="loading">
        </eui-block-content>
    </div>
    </div>
    <div *ngIf="!loading">
        <div class="eui-u-flex eui-u-flex-row eui-u-mb-s">
            <div class="eui-u-flex eui-u-flex-justify-content-start">
                <button
                    euiButton 
                    euiPrimary
                    class="eui-u-mr-s"
                    (click)="onSaveSurveyClick()">
                    Save survey
                </button>
                <button
                    euiButton
                    euiSecondary
                    (click)="onShowInstructionsClick()">
                    Show instructions
                </button>
            </div>
            <div class="eui-u-flex eui-u-flex-justify-content-end">
                <button
                    euiButton
                    euiPrimary
                    (click)="returnToCapabilityAssessment()">
                    Return to Capability Assessment
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <eui-card euiNoContentPadding>
                    <eui-card-header>
                        <eui-card-header-title>
                            List of selected DBCs
                        </eui-card-header-title>
                    </eui-card-header>
                    <eui-card-content>
                        <div *ngFor="let domain of selectedDomains">
                            <eui-card *ngIf="domainsHasSelectedDbcs(domain.id)">
                                <eui-card-header>
                                    <eui-card-header-title>
                                        {{ domain.value }}
                                    </eui-card-header-title>
                                </eui-card-header>
                                <eui-card-content>
                                    <ul euiList>
                                        <li
                                            euiListItem
                                            *ngFor="let dbc of selectedDBCs[domain.id] || []"
                                            [isActive]="isItemActive(dbc)"
                                            (click)="onNextDbcClick(dbc)">
                                            <span euiLabel class="eui-u-f-regular">
                                                {{ dbc.Name }}
                                            </span>
                                        </li>
                                    </ul>
                                </eui-card-content>
                            </eui-card>
                        </div>
                        <eui-card *ngIf="isAdhocDBCsFilled()">
                            <eui-card-header>
                                <eui-card-header-title>
                                Ad-hoc
                                </eui-card-header-title>
                            </eui-card-header>

                            <eui-card-content>
                                <div *ngFor="let modelName of getAdHocDBCsKeys()">
                                    <eui-card *ngIf="keyHasSelectedDbcs(modelName)">
                                        <eui-card-header>
                                        <eui-card-header-title>
                                            {{ modelName }}
                                        </eui-card-header-title>
                                        </eui-card-header>

                                        <eui-card-content>
                                        <ul euiList>
                                            <li
                                            euiListItem
                                            *ngFor="let dbc of getSelectedAdhocByModel(modelName) || []"
                                            [isActive]="isItemActive(dbc)"
                                            (click)="onNextDbcClick(dbc)">
                                            <span euiLabel>
                                                {{ dbc.Name }}
                                            </span>
                                            </li>
                                        </ul>
                                        </eui-card-content>
                                    </eui-card>
                                </div>
                            </eui-card-content>
                        </eui-card>
                    </eui-card-content>
                </eui-card>
            </div>
            <div class="col-9">
                <div class="row">
                    <div class="col">
                        <div class="eui-u-f-bold eui-u-font-3xl eui-u-mb-xs" *ngIf="currentDBC">
                            <a target="_blank" [href]="currentDBC?.Puri">{{ currentDBC?.Name }}</a>
                        </div>
                        <div class="eui-u-font-l eui-u-mb-l" *ngIf="currentDBC">
                            {{ currentDBC?.Description }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div *ngFor="let view of viewList">
                            <eui-card
                                *ngIf="!(view.value === 'Other' && (!ABBsByViews[view.id] || ABBsByViews[view.id].length === 0))"
                                class="eui-u-mb-s"
                                [euiCollapsible]="isViewCardCollapsible(view.id)"
                                [euiCollapsed]="isViewCardCollapsed(view.id)"
                                (click)="onViewClick(view.id)"
                                (collapse)="onViewCollapse($event, view.id)">
                                <eui-card-header>
                                    <eui-card-header-title>
                                        {{ view.value }} {{ view.value == "Other" ? "Views" : "View" }}
                                    </eui-card-header-title>
                                </eui-card-header>
                                <eui-card-content>
                                    <div *ngFor="let abb of ABBsByViews[view.id]">
                                        <eui-card
                                            class="eui-u-mb-s"
                                            [euiCollapsible]="isAbbCardCollapsible(abb)"
                                            [euiCollapsed]="isAbbCardCollapsed(abb)"
                                            (click)="onABBClick(abb)"
                                            (collapse)="onABBCollapse($event, abb)">
                                            <eui-card-header [isHeaderMultilines]="true">
                                                <eui-card-header-title>
                                                    Requirement: <a target="_blank" [href]="abb.Puri">{{ abb.Name }}</a>
                                                </eui-card-header-title>
                                                <eui-card-header-subtitle>
                                                    {{ abb.Description }}
                                                </eui-card-header-subtitle>
                                            </eui-card-header>
                                            <eui-card-content>
                                                <form [formGroup]="supportAbilityForm" *ngIf="!isAbbCardCollapsed(abb)">
                                                    <ng-container *ngFor="let dps of DBCRelatedDPSList; let last=last">
                                                        <div class="row eui-u-mt-m eui-u-mb-m eui-u-ml-s">
                                                            <div class="col eui-u-f-bold">
                                                                To what extent the AS-ls <span>{{ dps.Name }}</span> below meet the requirement?
                                                            </div>
                                                        </div>
                                                        <div class="row eui-u-mb-s eui-u-ml-l">
                                                            <div class="col">
                                                                <a target="_blank" [href]="dps.Puri">
                                                                    {{ dps.Name.endsWith('Digital Public Service') ? dps.Name : dps.Name + ' Digital Public Service' }}
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="row eui-u-mb-m eui-u-ml-xl">
                                                            <div class="col">
                                                                {{ dps.Description }}
                                                            </div>
                                                        </div>
                                                        <div class="row eui-u-mb-m eui-u-ml-xl">
                                                            <div class="col">
                                                                <mat-radio-group
                                                                    [formControlName]="supportKey(currentDBC, abb, dps)"
                                                                    [attr.name]="supportKey(currentDBC, abb, dps)"
                                                                    (change)="onSupportAbilityClick(dps)"
                                                                    >
                                                                    <ng-container *ngFor="let rating of supportAbilityOptions">
                                                                        <mat-radio-button [value]="rating.id" class="eui-u-mr-m">
                                                                        {{ rating.value }}
                                                                        </mat-radio-button>
                                                                    </ng-container>
                                                                </mat-radio-group>
                                                            </div>
                                                        </div>
                                                        <hr *ngIf="!last"/>
                                                    </ng-container>
                                                </form>
                                            </eui-card-content>
                                        </eui-card>
                                    </div>
                                    <form [formGroup]="supportAbilityForm">
                                        <div *ngFor="let domain of selectedDomains">
                                            <ng-container *ngFor="let dbc of selectedDBCs[domain.id] || []">
                                                <ng-container *ngIf="dbc?.Puri === currentDBC?.Puri">
                                                    <div class="row eui-u-mb-s eui-u-mt-l">
                                                        <div class="col">
                                                            The overall assessed <span class="eui-u-f-bold eui-u-cursor-help" euiTooltip="It reports the ability to support the Digital Business Capability/ies">Ability to Support</span> the <span class="eui-u-f-bold">{{ dbc.Name }}</span> - {{ view.value }} requirements is: <span class="eui-u-f-bold">{{ calculateSupportAbility(dbc) }}</span> out of 5
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            Please, indicate the <span class="eui-u-f-bold eui-u-cursor-help" euiTooltip="It reports the target prospective ability to support the Digital Business Capability/ies">Target Prospective Ability to Support</span> the <span class="eui-u-f-bold">Digital Business Capability</span> - {{ view.value }} requirements:
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <mat-slider min="1" max="5" step="1" value="supportAbilityForm.get(dbc.Puri + '-' + view.id + '-targetSupportAbility').value">
                                                                <input 
                                                                    matSliderThumb 
                                                                    [formControlName]="dbc.Puri + '-' + view.id + '-targetSupportAbility'" 
                                                                    (change)="onTargetSupportAbilityClick(view.id)">
                                                            </mat-slider>
                                                        </div>
                                                        <div class="col-4">
                                                            <span class="eui-u-f-bold">{{ calculateTargetSupportAbility(dbc, view.id) }}</span> out of 5
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            Therefore, the gap between the <span class="eui-u-f-bold">Target Prospective Average Ability</span> and the <span class="eui-u-f-bold">Overall Assessed Ability to Support</span> is: {{ calculateGap(dbc, view.id) }}
                                                        </div>
                                                    </div>
                                                </ng-container>
                                            </ng-container>
                                        </div>
                                        <div *ngIf="isAdhocDBCsFilled()">
                                            <ng-container *ngFor="let dbc of adHocDBCs">
                                                <ng-container *ngIf="dbc?.Puri === currentDBC?.Puri">
                                                    <div class="row eui-u-mb-s eui-u-mt-l">
                                                        <div class="col">
                                                            The overall assessed <span class="eui-u-f-bold eui-u-cursor-help" euiTooltip="It reports the ability to support the Digital Business Capability/ies">Ability to Support</span> the <span class="eui-u-f-bold">{{ dbc.Name }}</span> - {{ view.value }} requirements is: <span class="eui-u-f-bold">{{ calculateSupportAbility(dbc) }}</span> out of 5
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            Please, indicate the <span class="eui-u-f-bold eui-u-cursor-help" euiTooltip="It reports the target prospective ability to support the Digital Business Capability/ies">Target Prospective Ability to Support</span> the <span class="eui-u-f-bold">Digital Business Capability</span> - {{ view.value }} requirements:
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <mat-slider min="1" max="5" step="1">
                                                                <input 
                                                                    matSliderThumb 
                                                                    [formControlName]="dbc.Puri + '-' + view.id + '-targetSupportAbility'" 
                                                                    (change)="onTargetSupportAbilityClick(view.id)">
                                                            </mat-slider>
                                                        </div>
                                                        <div class="col-4">
                                                            <span class="eui-u-f-bold">{{ calculateTargetSupportAbility(dbc, view.id) }}</span> out of 5
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            Therefore, the gap between the <span class="eui-u-f-bold">Target Prospective Average Ability</span> and the <span class="eui-u-f-bold">Overall Assessed Ability to Support</span> is: {{ calculateGap(dbc, view.id) }}
                                                        </div>
                                                    </div>
                                                </ng-container>
                                            </ng-container>
                                        </div>
                                        
                                    </form>
                                </eui-card-content>
                            </eui-card>
                        </div>
                        <eui-card class="eui-u-mb-s">
                            <eui-card-header>
                                <eui-card-header-title>
                                    Overall assessed values for {{ currentDBC?.Name }}
                                </eui-card-header-title>
                            </eui-card-header>
                            <eui-card-content>
                                <div class="row">
                                    <div class="col">
                                        The overall assessed <span class="eui-u-f-bold">Ability to Support</span> the DBC is: <span class="eui-u-f-bold">{{ calculateOverallSupportAbility() }}</span> out of 5
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        The overall <span class="eui-u-f-bold">Target Prospective Average Ability</span> is: <span class="eui-u-f-bold">{{ calculateOverallTargetSupportAbility() }}</span> out of 5
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col">
                                        Therefore, the gap is: <span class="eui-u-f-bold">{{ calculateOverallGap() }}</span>
                                    </div>
                                </div>
                            </eui-card-content>
                        </eui-card>

                        <div *ngFor="let domain of selectedDomains">
                            <ng-container *ngFor="let dbc of selectedDBCs[domain.id] || []">
                                <eui-card
                                    *ngIf="dbc?.Puri === currentDBC?.Puri"
                                    #testingCard
                                    class="eui-u-mb-s"
                                    euiCollapsible
                                    euiCollapsed>
                                    <eui-card-header>
                                        <eui-card-header-title>
                                            Expected Public Value & Estimated Budget
                                        </eui-card-header-title>
                                    </eui-card-header>
                                    <eui-card-content>
                                        <form [formGroup]="supportAbilityForm">
                                            <div class="row eui-u-mb-s">
                                                <div class="col">
                                                    <label euiLabel>
                                                        Please, indicate the <span class="eui-u-f-bold">Expected Public Value</span>:
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row eui-u-mb-m">
                                                <div class="col">
                                                    <mat-radio-group [formControlName]="dbc.Puri + '-expectedPublicValue'">
                                                        <ng-container *ngFor="let rating of expectedPublicValueOptions">
                                                            <mat-radio-button [value]="rating">
                                                                {{ rating }}
                                                            </mat-radio-button>
                                                        </ng-container>
                                                    </mat-radio-group>
                                                </div>
                                            </div>
                                            <div class="row eui-u-mb-s">
                                                <div class="col">
                                                    <label euiLabel>
                                                        Estimated Budget (mill €):
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div euiInputGroup class="col">
                                                    <input 
                                                        euiInputNumber
                                                        [fractionDigits]="3"
                                                        min="0"
                                                        placeholder="Estimated Budget"
                                                        [formControlName]="dbc.Puri + '-estimatedBudget'"/>
                                                </div>
                                            </div>
                                        </form>
                                    </eui-card-content>
                                </eui-card>
                            </ng-container>
                        </div>

                        <div *ngIf="isAdhocDBCsFilled()">
                            <ng-container *ngFor="let dbc of adHocDBCs">
                                <eui-card
                                *ngIf="dbc?.Puri === currentDBC?.Puri"
                                class="eui-u-mb-s"
                                euiCollapsible
                                euiCollapsed>
                                <eui-card-header>
                                    <eui-card-header-title>
                                    Expected Public Value & Estimated Budget
                                    </eui-card-header-title>
                                </eui-card-header>
                                <eui-card-content>
                                    <form [formGroup]="supportAbilityForm">
                                    <div class="row eui-u-mb-s">
                                        <div class="col">
                                        <label euiLabel>
                                            Please, indicate the <span class="eui-u-f-bold">Expected Public Value</span>:
                                        </label>
                                        </div>
                                    </div>
                                    <div class="row eui-u-mb-m">
                                        <div class="col">
                                        <mat-radio-group [formControlName]="dbc.Puri + '-expectedPublicValue'">
                                            <ng-container *ngFor="let rating of expectedPublicValueOptions">
                                            <mat-radio-button [value]="rating">
                                                {{ rating }}
                                            </mat-radio-button>
                                            </ng-container>
                                        </mat-radio-group>
                                        </div>
                                    </div>
                                    <div class="row eui-u-mb-s">
                                        <div class="col">
                                        <label euiLabel>
                                            Estimated Budget (mill €):
                                        </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div euiInputGroup class="col">
                                        <input 
                                            euiInputNumber
                                            [fractionDigits]="3"
                                            min="0"
                                            placeholder="Estimated Budget"
                                            [formControlName]="dbc.Puri + '-estimatedBudget'"/>
                                        </div>
                                    </div>
                                    </form>
                                </eui-card-content>
                                </eui-card>
                            </ng-container>
                            </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="eui-u-flex eui-u-flex-row eui-u-flex-justify-content-center">
            <button 
                euiButton 
                euiPrimary
                class="eui-u-mr-s"
                [disabled]="isFirstDBC()"
                (click)="changeDBC('prev')">
                Previous DBC
            </button>
            <button 
                euiButton 
                euiPrimary
                *ngIf="!isLastDBC()"
                (click)="changeDBC('next')">
                Next DBC
            </button>
            <button 
                euiButton 
                euiSuccess
                *ngIf="isLastDBC()"
                (click)="finalizeAssessment()">
                Complete Assessment
            </button>
        </div>
    </div>
</eui-page-content>

<eui-dialog
    #showInstructionsDialog
    [title]="'Requirement Assessment Instructions'"
    [hasAcceptButton]="false"
    [hasDismissButton]="false"
    [hasCloseButton]="false"
    [hasClosedOnEscape]="true"
    [hasClosedOnClickOutside]="true">
    <div class="eui-u-flex eui-u-inline-flex eui-u-flex-wrap">
        <div class="row">
            <div class="col">
                In the Assessment of requirements step you will have to evaluate the <span class="eui-u-f-bold eui-u-cursor-help" euiTooltip="It reports the ability to support the Digital Business Capability/ies">Ability to Support</span> the <span>Digital Business Capabilities</span> selected in the previous step. This will be performed through the scoring of how much the <span>Digital Public Services</span> meet the various DBC requirements, with values 1 through 5. 
            </div>
        </div>
        <div class="row">
            <div class="col">
                Additionally, you have to evaluate the <span class="eui-u-f-bold eui-u-cursor-help" euiTooltip="It reports the target prospective ability to support the Digital Business Capability/ies">Target Prospective Support Ability</span> of the Digital Business Capabilities.
            </div>
        </div>
    </div>
    <eui-dialog-footer>
        <div class="eui-u-flex eui-u-flex-justify-content-end eui-u-flex-wrap">
            <button
                euiButton
                euiPrimary
                class="eui-u-mr-s"
                (click)="onDialogCancel()">
                Return
            </button>
        </div>    
    </eui-dialog-footer>
</eui-dialog>
<eui-dialog
    #nameFileDialog
    [title]="'Name Assessment File'"
    [hasAcceptButton]="false"
    [hasDismissButton]="false"
    [hasCloseButton]="false"
    [hasClosedOnEscape]="false"
    [hasClosedOnClickOutside]="false">
    <form [formGroup]="filename">
        <div euiInputGroup>
            <label euiLabel>Provide a name for the assessment file:</label>
            <input 
                euiInputText
                id="filename"
                formControlName="filename"
                placeholder="JSON file name"
            />
        </div>
    </form>
    <eui-dialog-footer>
        <div class="eui-u-flex eui-u-flex-justify-content-end eui-u-flex-wrap">
            <button
                euiButton
                euiPrimary
                class="eui-u-mr-s"
                [euiDisabled]="filename.status != 'VALID'"
                (click)="onContinueClick()">
                Continue
            </button>
            <button
                euiButton
                euiSecondary
                class="eui-u-mr-s"
                (click)="onCancelClick()">
                Cancel
            </button>
        </div>    
    </eui-dialog-footer>
</eui-dialog>
<eui-dialog
    #saveSurveyDialog
    [title]="'Save survey'"
    [hasAcceptButton]="false"
    [hasDismissButton]="false"
    [hasCloseButton]="false"
    [hasClosedOnEscape]="false"
    [hasClosedOnClickOutside]="false">
    <div class="eui-u-flex eui-u-inline-flex eui-u-flex-wrap">
        <div class="row">
            <div class="col">
                The download of the JSON file with the current status of the assessment should have started. Otherwise you can manually start the download by clicking <span class="eui-u-text-link-external" (click)="downloadSurvey()">here</span>.
            </div>
        </div>
    </div>
    <eui-dialog-footer>
        <div class="eui-u-flex eui-u-flex-justify-content-end eui-u-flex-wrap">
            <button
                euiButton
                euiPrimary
                class="eui-u-mr-s"
                (click)="onReturnToFormClick()">
                Return to initialization form
            </button>
            <button
                euiButton
                euiSecondary
                class="eui-u-mr-s"
                (click)="onContinueAssessmentClick()">
                Continue assessment
            </button>
        </div>    
    </eui-dialog-footer>
</eui-dialog>